body, html{
    padding: 0;
    margin: 0;
}



SysWeaver-Section
{
    margin-top: 2em;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: bold;
    color: var(--ThemeAcc1);
    display: block;
    padding: 0.25em;
}


SysWeaver-Text {
    user-select: text;
    overflow-x: auto;
    white-space: pre-wrap;
    display: block;
    background-color: rgba(var(--ThemeMainRGB), 0.05);
    padding: 0.25em;
}

    SysWeaver-Text.Icon {
        padding-left: 48px;
        background-repeat: no-repeat;
        background-origin: border-box;
        background-position: 8px center;
        background-size: 32px auto;

    }

    SysWeaver-Text.Bold {
        font-weight: bold;
    }

textarea.Translation {
    box-sizing: border-box;
    width: 100%;
    padding: 0.2em;
    resize: vertical;
    min-height: 6em;
    border: none;
    font: var(--ThemeFont);
    font-size: var(--ThemeFontSize);
    font-weight: bold;
    color: var(--ThemeMain);
    border-radius: var(--ThemeRadInp);
    border-bottom-right-radius: 0;
    background-color: rgba(var(--ThemeMainRGB), 0.05);
    outline: none;
    transition: outline linear var(--ThemeFadeDuration);
}

    textarea.Translation:focus {
        outline: 2px solid var(--ThemeAcc2);
    }

SysWeaver-CenterBlock.Space
{
    margin-top: 2em;
    margin-bottom: 4em;
}