
:root {
}

*
{
    box-sizing: border-box;
}

body {
    --pad: 8px;
    --mw: calc(50svw - var(--pad));
    --w: min(var(--mw), 400px);
    --h: calc(var(--w) + 2em);
    padding: var(--pad);
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}




    body server-item {
        position: relative;
        width: var(--w);
        height: var(--h);
        display: inline-flex;
        border-radius: var(--ThemeRad);
    }

        body server-item iframe {
            position: absolute;
            left: 0;
            top: 0;
            width: var(--w);
            height: var(--h);
            border: none;
            pointer-events: none;
        }

        body server-item server-itemclick {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border-radius: var(--ThemeRad);
            cursor: pointer;
            outline: 1px solid transparent;
            transition: box-shadow linear var(--ThemeFadeDuration), outline linear var(--ThemeFadeDuration);
        }

            body server-item server-itemclick:hover {
                box-shadow: 0 0 var(--pad) rgba(var(--ThemeAcc1RGB), 0.5);
            }

            body server-item server-itemclick:focus {
                outline: 1px solid var(--ThemeAcc2);
            }


    body.Dual {
        --pad2: calc(var(--pad) * 2);
        --mh: calc(100svh - var(--pad2) * 3);
        --mw: calc(100svw - var(--pad2));
        --mmh: calc(var(--mh) * 0.2);
        --h: calc(min(var(--mmh), var(--mw)));
        --h2: calc((var(--mh) - var(--h)) / 2);
        display: block;
        overflow: hidden;
    }


        body.Dual server-item:first-child {
            width: var(--mw);
            height: var(--h);
        }


            body.Dual server-item:first-child iframe {
                width: var(--mw);
                height: var(--h);
            }

        body.Dual server-item {
            display: block;
            margin-top: var(--pad2);
            width: var(--mw);
            height: var(--h2);
        }

            body.Dual server-item iframe {
                width: var(--mw);
                height: var(--h2);
            }
