
*
{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100svw;
}


si-name
{
    width: 100svw;
    text-align: center;
    padding: 0.5em 0.25em;
    display: block;
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 0.5em;
}

si-stats {
    margin: 0.5em 1em;
    display: flex;
    flex-wrap: wrap;
}

si-state {
    display: inline-flex;
    font-weight: bold;
    margin: 8px 8px 8px 0;
    padding: 0.5em 1em;
    background-color: var(--ThemeMain);
    color: var(--ThemeBackground);
    border-radius: var(--ThemeRad);
}


    si-state.Hide {
        display: none;
    }


si-servicebuttons {
    margin: 0.5em 1em;
    display: flex;
    flex-wrap: wrap;
}


    si-servicebuttons sysweaver-button{
        margin: 8px 8px 8px 0;

    }

si-graphs {
    display: block;
    width: 100svw;
    padding: 0.5em 0.25em;
}

si-graph
{
    width: calc(50svw - 1.5em);
    height: 30svh;
    padding: 0.5em;
    margin: 0.5em;
    display: inline-block;
    background: rgba(0,0,0,0.25);
    border-radius: var(--ThemeRad);
    cursor: pointer;
}

si-text
{
    display: block;
    height: 24px;
    text-align: center;
}


si-graph iframe {
    display: block;
    border: none;
    width: 100%;
    height: calc(100% - 24px);
    pointer-events: none;
}

si-debugbuttons {
    margin: 0.5em 1em;
    display: flex;
    flex-wrap: wrap;
}


.si-icon-restart {
    mask-image: url("../icons/reload.svg");
}

.si-icon-pause {
    mask-image: url("../icons/preview_pause.svg");
}

.si-icon-resume {
    mask-image: url("../icons/preview_play.svg");
}

.si-icon-stop {
    mask-image: url("../icons/preview_stop.svg");
}

.si-icon-start {
    mask-image: url("../icons/preview_play.svg");
}

.si-icon-disable {
    mask-image: url("../icons/close.svg");
}

.si-icon-explore {
    mask-image: url("../icons/explore.svg");
}

.si-icon-log {
    mask-image: url("../icons/notes.svg");
}
