
:root {
    --MaxW: 100ch;
}

*
{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
}

si-bg {
    position: fixed;
    display: block;
    left: 50%;
    top: 0;
    width: calc(var(--MaxW) + 2em);
    bottom: 0;
    transform: translateX(-50%);
    box-shadow: 0 0 32px var(--ThemeMain25);
    z-index: -1;
}

si-name
{
    width: 100%;
    text-align: center;
    padding: 0.5em 0.25em;
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 0.5em;
    background-color: var(--ThemeAcc2);
    color: var(--ThemeBackground);
    display: none;
}

body.TopWindow si-name {
    display: block;
}

@media screen and (max-width: 600px) {
    si-name {
        border-radius: 0;
    }
}

si-values {
    display: grid;
    grid-template-columns: auto auto 100%;
    grid-gap: 0.25em 1em;
    max-width: var(--MaxW);
    margin: 1.5em auto 0.25em auto;
    padding-bottom: 0.25em;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    si-values {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
}

si-value-name {
    grid-column: 1;
    color: var(--ThemeMain);
    white-space: nowrap;
}


si-value-value {
    grid-column: 2;
    color: var(--ThemeAcc1);
    white-space: nowrap;
}


si-actions {
    max-width: var(--MaxW);
    margin: 0.5em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


    si-actions sysweaver-button {
        margin: 8px 8px 8px 0;
    }
