:root {
    --SysWeaverEditDesktopRad: var(--ThemeRad);
    --SysWeaverEditDesktopRadInp: var(--ThemeRadInp);
    --SysWeaverEditDesktopRadInp2: var(--ThemeRadInp2);
}

SysWeaver-TabContent > SysWeaver-EditDesktop {
    border: none;
    border-radius: 0;
    padding: 0;
    background: none;
}

SysWeaver-EditEntryValue > SysWeaver-EditDesktop {
    border: none;
}

SysWeaver-EditDesktop {
    box-sizing: border-box;
    padding: 8px;
    display: block;
    border: 1px solid var(--ThemeMain50);
    border-radius: var(--SysWeaverEditDesktopRad);
    background-color: var(--ThemeBackground);
    margin: 4px;
}

    SysWeaver-EditDesktop.NoBorder {
        border: none;
        margin: 0;
        padding: 0;
        display: inline-block;
        background: none;
    }

    SysWeaver-EditDesktop > table {
        box-sizing: border-box;
        width: 100%;
        /*table-layout: fixed;*/
        border-collapse: collapse;
        border-spacing: 0;
    }

    SysWeaver-EditDesktop tr.TitleRow > td {
        padding: 0 4px 0 4px;
        white-space: nowrap;
        overflow: visible;
        vertical-align: middle;
    }

    SysWeaver-EditDesktop tr.TitleRow > td > .IconButton{
        float: left;
    }


    SysWeaver-EditDesktop tr.ValueRow > td {
        padding: 4px;
        white-space: nowrap;
        overflow: hidden;
        background-color: var(--ThemeMain25);
        vertical-align: top;
    }

        SysWeaver-EditDesktop tr.ValueRow > td.EditButton {
            padding: 9px 2px 2px 2px;
            line-height: 0.5em;
            overflow: visible;
        }

        SysWeaver-EditDesktop tr.ValueRow > td.EditContainer {
            padding: 3px 4px 0px 2px;
            width: auto;
            overflow: visible;
        }

        SysWeaver-EditDesktop tr.ValueRow > td.EditBoolean {
            padding: 4px 4px 0px 4px;
        }



    SysWeaver-EditDesktop SysWeaver-TypeTitle {
        color: var(--ThemeAcc1);
        font-weight: bold;
    }

    SysWeaver-EditDesktop tr.SeparatorRow > td {
        padding: 2px;
    }


    SysWeaver-EditDesktop tr.ValueRow > td:first-child {
        border-radius: var(--SysWeaverEditDesktopRad);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    SysWeaver-EditDesktop tr.ValueRow > td:last-child {
        width: 99%;
        border-radius: var(--SysWeaverEditDesktopRad);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }


    SysWeaver-EditDesktop tr.ValueRow.EditorExpanded > td:first-child {
        border-radius: var(--SysWeaverEditDesktopRad);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    SysWeaver-EditDesktop tr.ValueRow.EditorExpanded > td:last-child {
        border-radius: var(--SysWeaverEditDesktopRad);
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    SysWeaver-EditDesktop tr.DataRow {
        display: none;
    }

        SysWeaver-EditDesktop tr.DataRow.EditorExpanded {
            display: table-row;
        }

        SysWeaver-EditDesktop tr.DataRow.EditorExpanded.Hide {
            display: none;
        }


            SysWeaver-EditDesktop tr.DataRow.EditorExpanded > td {
                background-color: var(--ThemeMain25);
                border-radius: var(--SysWeaverEditDesktopRad);
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                overflow: visible;
            }



    SysWeaver-EditDesktop tr.ValueRow > td input {
        box-sizing: border-box;
        font-size: 125%;
        width: 100%;
        border: none;
        background-color: var(--ThemeBackground);
        color: var(--ThemeMain);
        border-radius: var(--SysWeaverEditDesktopRadInp);
        padding: 1px 12px 1px 12px;
        border: 2px solid var(--ThemeBackground);
        outline: none !important;
        transition: color linear var(--SysWeaverEditFadeDuration), border linear var(--SysWeaverEditFadeDuration);
    }

        SysWeaver-EditDesktop tr.ValueRow > td input:focus {
            border: 2px solid var(--ThemeAcc2);
            color: var(--ThemeAcc1);
        }

        SysWeaver-EditDesktop tr.ValueRow > td input:hover {
            border: 2px solid rgba(var(--ThemeAcc2RGB), 0.5);
        }

        SysWeaver-EditDesktop tr.ValueRow > td input:hover:focus {
            border: 2px solid var(--ThemeAcc2);
        }


        SysWeaver-EditDesktop tr.ValueRow > td input::placeholder {
            color: var(--ThemeMain25);
            font-style: italic;
            font-size: 80%;
        }

        SysWeaver-EditDesktop tr.ValueRow > td input.HalfWidth {
            width: calc(50% - 0.5em);
        }

        SysWeaver-EditDesktop tr.ValueRow > td input.HalfWidth:first-child {
            margin-right: 1em;
        }


        SysWeaver-EditDesktop tr.ValueRow > td input[type="date"]
        {
            cursor: pointer;
        }

        SysWeaver-EditDesktop tr.ValueRow > td input[type="time"] {
            cursor: pointer;
        }


    SysWeaver-EditDesktop tr.ValueRow > td textarea {
        resize: vertical;
        font: var(--ThemeFont);
        box-sizing: border-box;
        font-size: 125%;
        width: 100%;
        min-height: 4em;
        max-height: 20em;
        border: none;
        background-color: var(--ThemeBackground);
        color: var(--ThemeMain);
        border-radius: var(--SysWeaverEditMobileRadInp);
        padding: 1px 12px 1px 12px;
        border: 2px solid var(--ThemeBackground);
        outline: none !important;
        transition: color linear var(--SysWeaverEditFadeDuration), border linear var(--SysWeaverEditFadeDuration);
        margin-bottom: -4px;
    }

        SysWeaver-EditDesktop tr.ValueRow > td textarea.EditReadOnly {
            font-style: italic;
        }

        SysWeaver-EditDesktop tr.ValueRow > td textarea:focus {
            border: 2px solid var(--ThemeAcc2);
            color: var(--ThemeAcc1);
        }

        SysWeaver-EditDesktop tr.ValueRow > td textarea:hover {
            border: 2px solid rgba(var(--ThemeAcc2RGB), 0.5);
        }

            SysWeaver-EditDesktop tr.ValueRow > td textarea:hover:focus {
                border: 2px solid var(--ThemeAcc2);
            }

        SysWeaver-EditDesktop tr.ValueRow > td textarea::placeholder {
            color: var(--ThemeMain25);
            font-style: italic;
            font-size: 80%;
        }


    SysWeaver-EditDesktop td.EditSlider input:first-child {
        width: 28%;
    }

    SysWeaver-EditDesktop td.EditSlider input:last-child {
        -webkit-appearance: none;
        appearance: none;
        margin: 0px;
        height: 1.4em;
        padding: 1px;
        float: right;
        width: 70%;
        cursor: pointer;
    }

    SysWeaver-EditDesktop td.EditSlider input:last-child:disabled {
        cursor: default;
    }

        SysWeaver-EditDesktop td.EditSlider input:last-child::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 1em;
            height: 1.15em;
            background-color: var(--ThemeMain);
            border-radius: var(--SysWeaverEditDesktopRadInp2);
            transition: background-color linear var(--SysWeaverEditFadeDuration);
            border: none;
            outline: none;
        }

        SysWeaver-EditDesktop td.EditSlider input:last-child:focus::-webkit-slider-thumb {
            background-color: var(--ThemeAcc1);
        }


        SysWeaver-EditDesktop td.EditSlider input:last-child::-moz-range-thumb {
            appearance: none;
            width: 1em;
            height: 1.15em;
            background-color: var(--ThemeMain);
            border-radius: var(--SysWeaverEditDesktopRadInp2);
            transition: background-color linear var(--SysWeaverEditFadeDuration);
            border: none;
            outline: none;
        }

        SysWeaver-EditDesktop td.EditSlider input:last-child:focus::-moz-range-thumb {
            background-color: var(--ThemeAcc1);
        }



    SysWeaver-EditDesktop tr.ValueRow > td.EditBoolean input {
        -webkit-appearance: none;
        appearance: none;
        margin: 0px;
        height: 1.4em;
        padding: 1px;
        max-width: 3.5em;
        cursor: pointer;
    }

    SysWeaver-EditDesktop tr.ValueRow > td.EditBoolean input:disabled {
        cursor: default;
    }

    SysWeaver-EditDesktop td.EditBoolean input::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 2em;
        height: 1.15em;
        background-color: var(--ThemeMain);
        border-radius: var(--SysWeaverEditDesktopRadInp2);
        transition: background-color linear var(--SysWeaverEditFadeDuration);
        border: none;
        outline: none;
    }

    SysWeaver-EditDesktop td.EditBoolean.EditTrue input::-webkit-slider-thumb {
        background-color: var(--ThemeAcc1);
    }

    SysWeaver-EditDesktop td.EditBoolean input::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 2em;
        height: 1.15em;
        background-color: var(--ThemeMain);
        border-radius: var(--SysWeaverEditDesktopRadInp2);
        transition: background-color linear var(--SysWeaverEditFadeDuration);
        border: none;
        outline: none;
    }

    SysWeaver-EditDesktop td.EditBoolean.EditTrue input::-moz-range-thumb {
        background-color: var(--ThemeAcc1);
    }


    SysWeaver-EditDesktop tr.ValueRow > td select {
        box-sizing: border-box;
        font-size: 125%;
        width: 100%;
        border: none;
        background-color: var(--ThemeBackground);
        color: var(--ThemeMain);
        border-radius: var(--SysWeaverEditDesktopRadInp);
        padding: 0px 8px 1px 8px;
        border: 2px solid var(--ThemeBackground);
        outline: none !important;
        transition: color linear var(--SysWeaverEditFadeDuration);
        cursor: pointer;
    }

        SysWeaver-EditDesktop tr.ValueRow > td select[multiple] {
            overflow-y: auto;
            min-height: 4em;
            max-height: 75vh;
            resize: vertical;
        }

        SysWeaver-EditDesktop tr.ValueRow > td select:disabled {
            opacity: 1;
            cursor: default;
            color: var(--ThemeMain);
            background-color: var(--ThemeBackground);
            font-style: italic;
        }

        SysWeaver-EditDesktop tr.ValueRow > td select:focus {
            border: 2px solid var(--ThemeAcc2);
            color: var(--ThemeAcc1);
        }


        SysWeaver-EditDesktop tr.ValueRow > td select option {
            border-radius: var(--SysWeaverEditDesktopRadInp);
            padding: 0px 8px 0px 8px;
            cursor: pointer;
            background-color: var(--ThemeBackground);
            color: var(--ThemeMain);
        }

        SysWeaver-EditDesktop tr.ValueRow > td select option:checked {
            background-color: var(--ThemeMain);
            color: var(--ThemeBackground);
        }

            SysWeaver-EditDesktop tr.ValueRow > td select option:disabled {
                background-color: var(--ThemeBackground);
                color: rgba(--ThemeMainRGB, 0.1);
                font-style: italic;
            }


        SysWeaver-EditDesktop tr.ValueRow > td select:focus option {
            color: var(--ThemeAcc1);
        }

            SysWeaver-EditDesktop tr.ValueRow > td select:focus option:checked {
                color: var(--ThemeBackground);
                background-color: var(--ThemeAcc2);
            }



    SysWeaver-EditDesktop tr.ValueRow > td select:disabled option {
        cursor: default;
        font-style: italic;
        color: var(--ThemeMain);
    }

        SysWeaver-EditDesktop tr.ValueRow > td select:disabled option:checked {
            background-color: var(--ThemeMain);
            color: var(--ThemeBackground);
        }



    SysWeaver-EditDesktop SysWeaver-PopupMenuIcon {
        display: inline-block;
        float: left;
        width: 24px;
        height: 24px;
    }



    SysWeaver-EditDesktop > table.EditorCollapsed tr.SeparatorRow
    {
        display: none;
    }

    SysWeaver-EditDesktop > table.EditorCollapsed tr.ValueRow {
        display: none;
    }

    SysWeaver-EditDesktop > table.EditorCollapsed tr.DataRow {
        display: none;
    }