:root {
    --SysWeaverEditFadeDuration: 0.1s;
    --white: #ffffff;
}
/*
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: var(--ThemeMain);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
    font-size: 125%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
*/

SysWeaver-MemberTitle {
    display: inline-block;
    padding: 5px;
    user-select: text;
}

SysWeaver-TypeTitle {
    font-size: 80%;
    display: inline-block;
    user-select: text;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    float: left;
}


SysWeaver-EditInfo {
    display: inline;
    line-height: 36px;
    font-style: italic;
    margin-left: 8px;
    vertical-align: top;
}


td.EditReadOnly SysWeaver-MemberTitle {
    font-style: italic;
}

input.EditReadOnly
{
    font-style: italic;
}


td.EditDraggable
{
    cursor: move; /* fallback: no `url()` support or images disabled */
    cursor: grab; /* W3C standards syntax, all modern browser */
}

    td.EditDraggable:active {
        cursor: grabbing;
    }


tr.Hide
{
    display: none;
}

/*############# Icons ###################*/
.SysWeaverEditIconMenu {
    mask-image: url("../icons/more.svg");
}

.SysWeaverEditIconDefault {
    mask-image: url("../icons/reload.svg");
}

.SysWeaverEditIconCopy {
    mask-image: url("../icons/copy.svg");
}

.SysWeaverEditIconPaste {
    mask-image: url("../icons/paste.svg");
}

.SysWeaverEditIconExpand {
    mask-image: url("../icons/expand.svg");
}

.SysWeaverEditIconCollapse {
    mask-image: url("../icons/collapse.svg");
}

.SysWeaverEditIconAddItem {
    mask-image: url("../icons/plus.svg");
}

.SysWeaverEditIconClearCollection {
    mask-image: url("../icons/clear.svg");
}

.SysWeaverEditIconAddItemBefore {
    mask-image: url("../icons/AddAbove.svg");
}

.SysWeaverEditIconAddItemAfter {
    mask-image: url("../icons/AddBelow.svg");
}

.SysWeaverEditIconMoveItemTop {
    mask-image: url("../icons/MoveTop.svg");
}

.SysWeaverEditIconMoveItemUp {
    mask-image: url("../icons/MoveUp.svg");
}

.SysWeaverEditIconMoveItemDown {
    mask-image: url("../icons/MoveDown.svg");
}

.SysWeaverEditIconMoveItemBottom {
    mask-image: url("../icons/MoveBottom.svg");
}

