body {
    margin: 0;
    padding: 0;
    background-color: var(--ThemeBackground);
    user-select: none;
    font-family: var(--ThemeFont);
    text-align: center;
    width: 100svw;
    height: 100svh;
    display: grid;
    overflow: hidden;
    grid-template-rows: min-content auto;
    grid-row-gap: 4px;
}



SysWeaver-CenterBlock {
    grid-row: 1;
    width: 100%;
    padding: 0.25em 1em;
    margin: 0;
    box-shadow: rgba(0,0,0,0.4) 0 4px 4px;
    background-color: var(--ThemeBackground50);
    justify-content: space-around;
}

SysWeaver-AceEditor {
    grid-row: 2;
    display: block;
}


.ace-sysweaver.ace_tooltip,
.ace-sysweaver .ace_tooltip,
.ace-sysweaver .ace_search {
    background-color: var(--ThemeBackground);
    color: var(--ThemeAcc1);
    border-radius: var(--ThemeRad);
    border: 2px solid var(--ThemeMain75);
    padding: 4px;
    font-family: var(--ThemeFont);
}

.ace-sysweaver .ace_button {
    color: var(--ThemeAcc2);
    border-radius: var(--ThemeRadInp);
    border: 1px solid var(--ThemeAcc250);
    transition: color linear var(--ThemeFadeDuration), opacity linear var(--ThemeFadeDuration), background-color linear var(--ThemeFadeDuration)
}

    .ace-sysweaver .ace_button.checked {
        color: var(--ThemeAcc2);
        background-color: var(--ThemeAcc225);
        border: 2px solid var(--ThemeAcc2);
    }


.ace-sysweaver .ace_button:hover {
    color: var(--ThemeBackground);
    background-color: var(--ThemeAcc2);
}

.ace-sysweaver .ace_searchbtn_close {
    color: var(--ThemeBackground);
    background-color: var(--ThemeAcc1);
}


.ace-sysweaver .ace_searchbtn {
    color: var(--ThemeBackground);
    background-color: var(--ThemeMain);
    border: none;
    border-left: 1px solid var(--ThemeBackground25);
    opacity: 0.8;
    transition: opacity linear var(--ThemeFadeDuration);
}

.ace-sysweaver .ace_searchbtn:hover {
    opacity: 1;
}


    .ace-sysweaver .ace_searchbtn:last-child {
        border-radius: var(--ThemeRadInp);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .ace-sysweaver .ace_searchbtn.prev:after {
        border: solid 2px var(--ThemeBackground);
        border-width: 2px 0 0 2px;
    }

    .ace-sysweaver .ace_searchbtn.next:after {
        border: solid 2px var(--ThemeBackground);
        border-width: 0 2px 2px 0;
    }


.ace-sysweaver .ace_search_form,
.ace-sysweaver .ace_replace_form {
    border-radius: var(--ThemeRadInp);
    border: 1px solid var(--ThemeMain25);
    color: var(--ThemeMain);
    background-color: var(--ThemeBackground);
    overflow: hidden;
}

    .ace-sysweaver .ace_search_form.ace_nomatch {
        outline: 2px solid var(--ThemeError);
    }

.ace-sysweaver .ace_search_field {
    color: var(--ThemeMain);
    background-color: var(--ThemeBackground);
    border: none;
    outline: none;
}

.ace-sysweaver .ace_search_field::placeholder {
    color: var(--ThemeMain25);
    font-style: italic;
}


.ace-sysweaver.ace_editor.ace_autocomplete {
    overflow: hidden;
    border-radius: var(--ThemeRadInp);
    border: 2px solid var(--ThemeMain75);
    background: var(--ThemeBackground);
    color: var(--ThemeAcc1);
    font-family: var(--ThemeFontMono);
    font-size: 100%;
}

    .ace-sysweaver.ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line {
        background-color: var(--ThemeMain25);
    }

    .ace-sysweaver.ace_editor.ace_autocomplete .ace_marker-layer .ace_line-hover {
        background-color: rgba(var(--ThemeMainRGB), 0.1);
        outline: none;
        border: none;
    }


    .ace-sysweaver.ace_editor.ace_autocomplete .ace_completion-highlight {
        color: var(--ThemeAcc2);
    }

    .ace-sysweaver.ace_editor.ace_autocomplete .ace_completion-meta {
        font-size: 75%;
        font-family: var(--ThemeFont);
        color: var(--ThemeAcc175);
    }

    .ace-sysweaver.ace_editor.ace_autocomplete .ace_selected {
        /*color: var(--ThemeBackground);*/
    }

    .ace-sysweaver.ace_editor.ace_autocomplete .ace_selected .ace_completion-highlight {
        color: var(--ThemeAcc2);
    }

        .ace-sysweaver.ace_editor.ace_autocomplete .ace_selected .ace_completion-meta {
            color: var(--ThemeBackground75);
        }







        .ace-sysweaver .ace_icon_svg {
            vertical-align: middle;
            width: 16px;
        }


.ace-sysweaver .ace_icon_svg.ace_error
{
    background-color: var(--ThemeError);
}

.ace-sysweaver .ace_gutter-cell
{
    width: 100%;
    padding-left: 0;
}

.ace-sysweaver .ace_gutter {
    background: var(--ThemeBackground);
    color: var(--ThemeMain25);
    font-size: 75%;
    line-height: 150%;

}

.ace-sysweaver .ace_print-margin {
    width: 1px;
    background: var(--ThemeMain25);
}

.ace-sysweaver {
    background: var(--ThemeBackground25);
    color: var(--ThemeMain);
    font-family: var(--ThemeFontMono);
    font-size: 100%;
}

    .ace-sysweaver .ace_layer, .ace-sysweaver .ace_content {
        overflow: visible !important;
    }

    .ace-sysweaver .ace_cursor {
        color: var(--ThemeAcc1);
    }


    .ace-sysweaver .ace_marker-layer .ace_selection {
        background: var(--ThemeAcc225);
    }

    .ace-sysweaver.ace_multiselect .ace_selection.ace_start {
        box-shadow: 0 0 3px 0px var(--ThemeAcc250);
    }

    .ace-sysweaver .ace_marker-layer .ace_step {
        background: rgb(102, 82, 0)
    }

    .ace-sysweaver .ace_marker-layer .ace_bracket {
        margin: -2px 0 0 -2px;
        border: 2px solid var(--ThemeAcc150);
    }

    .ace-sysweaver .ace_marker-layer .ace_active-line {
        background: rgba(var(--ThemeMainRGB), 0.1);
    }

    .ace-sysweaver .ace_gutter-active-line {
        background: rgba(var(--ThemeMainRGB), 0.05);
    }

    .ace-sysweaver .ace_marker-layer .ace_selected-word {
        background: rgba(var(--ThemeAcc1), 0.25);
        border: 1px solid var(--ThemeAcc150);
    }

    .ace-sysweaver .ace_invisible {
        color: rgba(255, 255, 255, 0.25)
    }

    .ace-sysweaver .ace_keyword,
    .ace-sysweaver .ace_meta {
        color: var(--ThemeAcc2);
    
        
        }

    .ace-sysweaver .ace_comment {
        font-style: italic;
        color: var(--ThemeAcc250);
    }

    .ace-sysweaver .ace_variable {
        color: var(--ThemeMain75);
    }


    .ace-sysweaver .ace_paren,
    .ace-sysweaver .ace_operator {
        color: var(--ThemeMain50);
    }

    .ace-sysweaver .ace_constant,
    .ace-sysweaver .ace_constant.ace_character,
    .ace-sysweaver .ace_constant.ace_other,
    .ace-sysweaver .ace_constant.ace_numeric,
    .ace-sysweaver .ace_heading,
    .ace-sysweaver .ace_markup.ace_heading,
    .ace-sysweaver .ace_support.ace_constant {
        color: var(--ThemeAcc2);
    }


    .ace-sysweaver .ace_string {
        color: var(--ThemeAcc1);
    }
        .ace-sysweaver .ace_constant.ace_escape
        {
            font-weight: bold;
            color: var(--ThemeAcc2);
        }

    .ace-sysweaver .ace_constant.ace_boolean {
        color: var(--ThemeAcc2);
    }



    .ace-sysweaver .ace_invalid.ace_illegal {
        color: #F8F8F8;
        background-color: rgba(86, 45, 86, 0.75)
    }

    .ace-sysweaver .ace_invalid.ace_deprecated {
        text-decoration: underline;
        font-style: italic;
        color: var(--ThemeWarning);
    }

    .ace-sysweaver .ace_support {
        color: #9B859D
    }

    .ace-sysweaver .ace_fold {
        background-color: var(--ThemeAcc225);
        border-color: var(--ThemeAcc2);
        color: var(--ThemeAcc2);
    }

    .ace-sysweaver .ace_support.ace_function {
        color: #DAD085
    }

    .ace-sysweaver .ace_list,
    .ace-sysweaver .ace_markup.ace_list,
    .ace-sysweaver .ace_storage {
        color: #F9EE98
    }

    .ace-sysweaver .ace_entity.ace_name.ace_function,
    .ace-sysweaver .ace_meta.ace_tag {
        color: #AC885B
    }


        .ace-sysweaver .ace_string.ace_regexp {
            color: var(--ThemeAcc2);
        }

    .ace-sysweaver .ace_xml-pe {
        color: #494949
    }

    .ace-sysweaver .ace_indent-guide {
        background: none;
        border-right: 1px solid var(--ThemeMain25);
    }

    .ace-sysweaver .ace_indent-guide-active {
        border-right: 1px solid var(--ThemeAcc125);
    }


